.about,
.about-section__content,
.about-section-vision,
.about-vision__items,
.services__items {
  display: grid;
}

.about {
  row-gap: 3rem;
}

.about .image__container {
  width: 350px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid var(--text-primary);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition-duration);
  /* transform: scale(1.05); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image__container img {
  border-radius: 50%;
  transition: transform var(--transition-duration) ease-in-out,
    opacity var(--transition-duration) ease-in-out;
}

.image__container:hover {
  transform: scale(1.1);
  padding: 0;
}

.image__container:hover img {
  opacity: 0.8;
}

.about-section__content {
  display: grid;
  gap: 2rem;
}

.about-section__subtitle,
.about-section__description {
  text-align: center;
}

.about-section__description {
  font-size: var(--font-normal-secondary);
  line-height: 1.5;
}

.about-section__stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-section__stat {
  display: grid;
  text-align: center;
  gap: 0.5rem;
  letter-spacing: 3px;
}

.about-section__stat .stat__label {
  font-size: var(--font-normal);
  color: var(--text-secondary);
}

.about-section__stat .stat__number {
  font-size: 80px;
  font-weight: 100;
}

.about-section-vision {
  display: grid;
  gap: 2rem;
}

.about-section-vision > h2 {
  font-weight: 400;
}

.about-vision__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
  column-gap: 1.5rem;
}

.about-vision__item {
  display: grid;
  gap: 0.5rem;
  align-items: baseline;
  grid-template-rows: 0.5fr auto;
}

.about-vision__item > h3 {
  font-size: var(--font-normal-secondary);
  font-weight: normal;
}

.about-vision__item > p {
  font-size: var(--font-small);
  color: var(--text-secondary);
  line-height: 1.5;
}

.swiper-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

/* Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
  color: var(--text-primary) !important;
  background: rgba(0, 0, 0, 0.7) !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  transition: background 0.3s ease !important; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.8) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
}

/* Adjust positioning of arrows */
.swiper-button-next {
  right: 0px !important;
}

.swiper-button-prev {
  left: 0px !important;
}

.clients__feedback {
  padding: var(--padding-xlarge);
  background-color: var(--bg-element);
  border: 1px solid var(--bg-header);
  border-radius: 1rem;
  display: grid;
  gap: 3rem;
  width: 100%;
  max-width: 32rem;
}

.clients__feedback-quotes {
  width: 36px;
  height: 36px;
}

.clients__feedback-comment {
  line-height: 1.5;
  max-width: 100%;
}

.clients__feedback-comment,
.clients__feedback-name {
  font-size: var(--font-normal-secondary);
}

.clients__feedback__post {
  font-size: 15px;
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}

.clients__feedback__post-label {
  color: var(--text-secondary);
}

.clients__feedback__post-society {
  cursor: pointer;
  position: relative;
  transition: var(--transition-duration);
}

.clients__feedback__post-society::before,
.clients__feedback__post-society::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: var(--text-primary);
  bottom: 3px;
  transition: var(--transition-duration);
}

.clients__feedback__post-society::before {
  width: 28px;
  left: 0;
}

.clients__feedback__post-society::after {
  right: 0;
  width: 12px;
}

.clients__feedback__post-society:hover {
  color: var(--text-secondary);
}

.clients__feedback__post-society:hover::after,
.clients__feedback__post-society:hover::before {
  background-color: var(--text-secondary);
}

.services {
  display: grid;
  gap: 1.4rem;
}

.services h2 {
  font-weight: 400;
}

.services__items {
  display: grid;
  gap: 1rem;
}

.service__item {
  display: grid;
  /* gap: 1.5rem; */
  padding: var(--padding-large);
  background-color: var(--bg-element);
  border: 2px solid var(--bg-header);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.25) 0px 4px 4px 0px, rgba(0, 0, 0, 0.25) 0px 8px 8px 0px,
    rgba(0, 0, 0, 0.25) 0px 16px 16px 0px, rgba(0, 0, 0, 0.25) 0px 32px 32px 0px;
  transition: var(--transition-duration);
  position: relative;
}

.service__item-head {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.services__label {
  font-size: 18px;
  font-weight: normal;
}

.services__icon {
  width: 24px;
  height: 24px;
  color: var(--text-secondary);
  transition: var(--transition-duration);
}

.service__item:hover .services__icon {
  color: var(--text-primary);
}

.rotate-up {
  transform: rotate(0deg); /* Pointing up (default) */
}

.rotate-down {
  transform: rotate(180deg); /* Pointing down */
}

.services__info-container {
  overflow: hidden;
  max-height: 0; /* Hidden by default */
  transition: max-height var(--transition-duration),
    opacity var(--transition-duration);
  opacity: 0;
}

.services__info-container.open {
  max-height: 500px; /* Adjust according to your content's height */
  opacity: 1;
}

.services__info-container.closed {
  max-height: 0;
  opacity: 0;
}

.services__info {
  line-height: 1.5;
  color: var(--text-secondary);
  margin-top: 20px;
}

.services__button-container {
  width: fit-content;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (max-width: 768px) {
  .swiper-container {
    padding: 0;
  }
  .about {
    gap: 2rem;
  }
  .about-section__stats {
    flex-direction: column;
    gap: 1rem;
  }
  .about-section__stat {
    gap: 0;
  }

  .about-vision__items {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .clients__feedback {
    gap: 2rem;
  }

  .about .image__container {
    width: 200px;
    height: 200px;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .clients__feedback {
    gap: 1.5rem;
  }
}
